<div class="modal-header">
  <h5 class="modal-title">Edit script</h5>
  <button type="button" class="btn-close text-reset" aria-label="Close" (click)="activeOffcanvas.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <ng-container *ngIf="scriptButton; else unknownName">
    <div class="name-display">Name: {{ scriptButton.name }}</div>
  </ng-container>
  <ng-template #unknownName>
    <div class="name-display">Name unknown</div>
  </ng-template>
  <textarea class="form-control" [(ngModel)]="scriptText"></textarea>
  <button class="save-button mt-3" (click)="saveScript()">Save text</button>
</div>
